.food-card{
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin:200px auto ;
    padding: 10px;
}

.food-img{
    border: none;
    border-radius: 20px;
}


.card-header{
    position: relative;
}


.off{
    color: whitesmoke;
    position: absolute;
    bottom:0;
    background-color: rgb(0, 0, 255);
    font-size: 25px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.time{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right:20px ;
    margin-bottom: 20px;
    padding: 5px;
    background-color: whitesmoke;
    border: none;
    border-radius:5px ;
}

.promoted{
    position: absolute;
    top: 0;
    left: 0;

    color:lightgrey;
    background-color:grey;
    margin: 20px;
    padding-left:10px ;
    padding-right:5px ;
    border-radius: 5px;
    font-size:20px ;

}



.category{
    color:lightslategray;
}

.text{
    font-family: sans-serif;
    font-weight:0px;
    border-bottom:1px solid lightgray ;
}

.category{
    font-size: x-large;
}


.footer{
    color:lightslategray;
    font: caption;
    font-size: 19px;
    font-weight: lighter;
    display: inline-flex;
    height: 10px;
    padding-bottom: 20px;
}

.delivery-img{
    width: 90px;
    height: 30px;
    padding-right: 20px;
    padding-left:10px ;
}

.sea-img{
    border: none;
    border-radius: 10px;
    margin: auto 300px  ;
 
}


.bali-card{
    margin-left: 250px;
    width: 700px;
    position: relative;
}


.bali-img{
    border: none;
    border-radius: 15px;
    width: 100%;
}


.bali-text{
    color: white;
    position: absolute;
    left: 40px;
    bottom:100px;
}  


.btn{
    position: absolute;
    left: 250px;
    background-color:white ;
    padding: 10px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}